@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  margin: 0;
  --bg-gradient-deal: linear-gradient(270deg, #ff5c00 0%, #e21b00 100%);
  --bg-gradient-3: linear-gradient(270deg, #ffd600 0%, #ffb800 100%);
  --bg-gradient-4: repeating-linear-gradient(to right,#ff990f 0,#fe532e 50%,#ff990f 100%)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .width-screen {
    @apply max-w-7xl mx-auto;
  }
  .flex-center-row {
    @apply flex justify-center items-center flex-row;
  }
  .flex-center-col {
    @apply flex justify-center items-center flex-col;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }

}

.bg-gradient {
  background: repeating-linear-gradient(
    to right,
    #f1d113 0,
    #fef273 25%,
    #f1b01f 50%,
    #fde904 75%,
    #e5bf23 100%
  );
  animation: gradient 2s linear infinite;
  background-size: 200% auto;
  width: 190px;
}

.banner-hover {
  position: relative;
  overflow: hidden;
  display: block;
}

.banner-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff80;
  transition: none;
  transform: skewX(-25deg);
}

.banner-hover:hover::before {
  width: 130%;
  background-color: #fff0;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.bg-hot-gradient {
  background: var(--bg-gradient-4);
  
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}